@charset "UTF-8";


body,
ul,
li {
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 0.95rem;
    list-style: none;
}

a {
    text-decoration: none;
    color: #003399;

}

.geral{
    width: 100%;
    margin: 0 auto;
}

.cabecalho{
    background: #990000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    padding-left: 100px;
    padding-right: 40px;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
    color: white;
    font-size: 1.2rem;
}

/*botão de pesquisar:  */

.container {
    width: 100%; /* define a largura do campo */ 
    position: relative;  /* cria o contexto de posicionamento do botão */ 
  }
  input {width: 100%;} /* define a largura do campo igual a largura do container */
  input,  button {padding: 10px;}
  button {
    position: absolute ;  
    top: 0; 
    right: 0;
    /* posiciona o botão em relação ao container, mas
    como o campo está exatamente contido no container
    o posicionamento se dá também em relação ao campo */
  }


.principal{
    display: flex;
    flex-wrap: wrap;
    max-width: 1700px;
    margin: 0 auto;
    padding-bottom: 20px;
    justify-content: center;
    background-image: url(imagens/wallpaper.jpg);
}

.principal > div{
    flex-grow: 0;
    padding: 20px;
    margin: 20px;
}

.conteudo1{
    width: 250px;
}

.maps{
    flex-direction: column;
}

.maps > div{
    margin: 10px;
    border: 0.5px solid;
    text-align: center;
    height: 67px;
}

.maps > div > a{
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #fff;
    font-size: 1.5rem; color: #000;
}

.minecraft {
    background-image: url(imagens/minecraft.jpg);
}

.minecraft > p{
    padding: 20px;
}

.terraria{
    background-image: url(imagens/terraria.jpg);
}

.dontstarve{
    background-image: url(imagens/dont\ starve.jpg);
}

.godofwar{
    background-image: url(imagens/god-of-war-2018-004-1060x596.jpg);
}

.clashofclan{
    background-image: url(imagens/og_clashofclans.f3149338.jpg);
}

.csgo{
    background-image: url(imagens/Baixar-CSGO-download.jpg);
}

.pokemongo{
    background-image: url(imagens/pokemon\ go.jpg);
}

.conteudo2{  
    width: 650px;
    
}

.news{
    max-width: 640px;
    flex-direction: column;
}

.news > div{
    border: 0.5px solid;
    margin: 5px;
    flex-grow: 1;
}

.news > div > a > p{
    padding-left: 10px
}

.pnew{
    height: 181px;  
}



.conteudo3{
    width: 120px;
}

.rodape{
    background: #696969;
    padding: 20px;
    margin-top: 10%;
    clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    
    
}

.menuf{
    display: flex;
}

.menuf li{
    margin-left: 10px;
}

.menuf li a{
    display: block;
    padding: 10px;
    font-size: 1rem;
    color: white;
}


/*coluna do meio, pras pag fora do index:*/

.mapspages{  
    width: 650px;
}
